* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

p {
  margin-top: 1em;
}

a {
  color: #41d69a;
  transition: all 0.2s;
  text-decoration: none;
  position: relative;
}

a:hover {
  /* color: red; */
  border-bottom: 0.125em solid white;
}

/* 

 L A N D I N G
 P A G E

*/
.splash {
  height: 100vh;
  background-color: #242f3a;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.5em;
  overflow: hidden;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
}

.name {
  color: #e6604b;
}

.title {
  margin-top: 1em;
}

.seanyboy {
  text-align: center;
}

/* 

  M O R E
  I N F O

*/

.info {
  padding: 5rem;
}
